@page "/UserInfo"
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="card mx-auto mt-5 mb-3" style="width: 400px;background: #f7f7f7;box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);">
    <div class="card-body p-4">
        <form id="account" method="post">
            <h2 class="text-center mb-4">@ViewData["Title"]</h2>
            <partial name="_StatusMessage" for="StatusMessage" />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            @* <span asp-validation-for="Input.Result" class="text-danger small text-center d-block mb-2"></span> *@

            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control text-center" autocomplete="fullname" aria-required="true" placeholder="John Smith" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FullName" class="form-control text-center" autocomplete="fullname" aria-required="true" placeholder="John Smith" />
                <label asp-for="Input.FullName" class="form-label"></label>
                <span asp-validation-for="Input.FullName" class="text-danger small text-center d-block"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.EmailAddress" class="form-control text-center" autocomplete="email" aria-required="true" placeholder="mail@website.com" />
                <label asp-for="Input.EmailAddress" class="form-label"></label>
                <span asp-validation-for="Input.EmailAddress" class="text-danger small text-center d-block"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control text-center" autocomplete="phone" aria-required="true" placeholder="+123456789" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger small text-center d-block"></span>
            </div>
            <div class="">
                <button id="login-submit" type="submit" class="w-100 btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
